.tetap{
	width: 25px;
	height: 25px;
	margin-top: 15px;
	border-radius: 50%;
}

.terra{
	color: #3e4095;
}

.pluz{
	margin-top: 50px;
}


.navbar-brand-centered {
    position: absolute;
    left: 50%;
    display: block;
    width: 160px;
    text-align: center;
    background-color: transparent;
}
.navbar>.container .navbar-brand-centered,
.navbar>.container-fluid .navbar-brand-centered {
    margin-left: -80px;
}
input.search-form:hover {
    width: 120px;
  }

.search i {
  color: #000;
}

input.search-form{
  background: transparent;
  border: 0 none;
  width: 60px;
  padding: 15px 10px;
  color: #000;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}

input.search-form::-webkit-input-placeholder{
  color: transparent;
}

input.search-form:hover::-webkit-input-placeholder {
  color: #000;
}

input.search-form:hover {
  width: 180px;
}
.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */

     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

#social-fb {
     color: #3B5998;
 }
 #social-tw {
     color: #4099FF;
 }
 #social-gp {
     color: #d34836;
 }
 #social-em {
     color: #f39c12;
 }

 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-em:hover {
     color: #f39c12;
 }

.lineof {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
	-moz-use-text-color #FFF;
  border-color: #EEE;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}




/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
    position: relative;
    height: 60vh;
		margin-top: 50px;
}
.fade-carousel .carousel-inner .item {
    height: 60vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #F5F5F5;
    border-color: #F5F5F5;
    /*background-color: #f39c12;
    border-color: #f39c12;*/
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 6em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s;
        -ms-transition: 2s all ease-in-out .1s;
         -o-transition: 2s all ease-in-out .1s;
            transition: 2s all ease-in-out .1s;
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s;
        -ms-transition: 2s all ease-in-out .1s;
         -o-transition: 2s all ease-in-out .1s;
            transition: 2s all ease-in-out .1s;
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .7;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    margin: 20px auto;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1,
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  background-image: url(https://ununsplash.imgix.net/photo-1416339134316-0e91dc9ded92?q=75&fm=jpg&s=883a422e10fc4149893984019f63c818);
}
.fade-carousel .slides .slide-2 {
  background-image: url(https://ununsplash.imgix.net/photo-1416339684178-3a239570f315?q=75&fm=jpg&s=c39d9a3bf66d6566b9608a9f1f3765af);
}
.fade-carousel .slides .slide-3 {
  background-image: url(https://ununsplash.imgix.net/photo-1416339276121-ba1dfa199912?q=75&fm=jpg&s=9bf9f2ef5be5cb5eee5255e7765cb327);
}

.pas{
    margin-top: -20px;
}

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }

}



@import url(http://fonts.googleapis.com/css?family=Roboto);

/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-help{
  font-size: 12px;
}

.nav-biru{
	background-color: #3e4095;

}

@media (min-width: 768px){
	.fade-carousel {
	    position: relative;
			margin-top: 50px;
	}
	.harga {
		width: 560px;
	}
}

@media (min-width: 992px) {
  .harga {
    width: 770px;
  }
  .navmenutop {
    width: 870px;
  }
}
.megamenunav{
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
@media (min-width: 1200px) {
	.megamenunav{
		/*width: 900px;*/
	}
  .harga {
    width: 970px;
  }
  .navmenutop {
    width: 1070px;
  }
}


/*bigdropdownmenu*/

.mega-dropdown {
  position: static !important;
}
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  color: #222;
  padding: 3px 5px;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
}
.mega-dropdown-menu .dropdown-header {
  font-size: 12px;
  color: #ff3546;
  padding: 5px 60px 5px 5px;
  line-height: 30px;
}

.carousel-control {
  width: 30px;
  height: 30px;
  top: -35px;

}
.left.carousel-control {
  right: 30px;
  left: inherit;
}
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  font-size: 12px;
  background-color: #fff;
  line-height: 30px;
  text-shadow: none;
  color: #333;
  border: 1px solid #ddd;
}




/*************** Service Box ***************/

.service-box .read-more {
	margin-top: 4px;
	font-weight: 500;
	margin-left: 2px;
}

.service-box .read-more i {
	display: inline-block;
	position: relative;
	top: 1px;
}

.image-service-box img {
	margin-bottom: 14px;
}

.image-service-box h4 {
	margin-bottom: 8px;
	padding: 0 10px;
    font-weight: 400;
}

.image-service-box p {
	padding: 0 10px;
}

.service-box {
	margin-bottom: 35px;
	margin-top: 30px;
}

.service-center {
	text-align: center;
}

.service-icon-left .service-icon {
	float: left;
}

.service-icon-left .service-content {
	padding-left: 45px;
}

.service-icon-left-more .service-icon {
	float: left;
}

.service-icon-left-more .service-content {
	padding-left: 60px;
}

.service-center .service-icon {
	margin-bottom: 14px;
}

.service-center .service-content h4 {
	margin-bottom: 6px;
    font-weight: 500;
}

.service-center .service-icon i {
	display: inline-block;
}

.service-box h4 {
	margin-bottom: 5px;
    font-weight: 400;
}

.service-box > div:first-child {
	padding: 0;
}

.service-boxed {
	margin-top: 30px;
	padding: 0 15px 20px 15px !important;
	border: 1px solid #eee;
	border-radius: 4px;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
	transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.service-boxed:hover {
	border-color: #e2e2e2;
	box-shadow: 0 0 6px rgba(0,0,0,.1);
	-o-box-shadow: 0 0 6px rgba(0,0,0,.1);
	-moz-box-shadow: 0 0 6px rgba(0,0,0,.1);
  	-webkit-box-shadow: 0 0 6px rgba(0,0,0,.1);
}

.service-boxed p {
    margin-bottom: 0;
}





/*pricing*/

.db-pricing-seven {
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
    border: 1px solid #C5C2C2;
    background-color: #EDEDED;
}

    .db-pricing-seven:hover {
        margin-top: 5px;
        -moz-transition: margin-top 0.25s ease 0s;
        -ms-transition: margin-top 0.25s ease 0s;
        transition: margin-top 0.25s ease 0s;
    }

    .db-pricing-seven ul {
        list-style: none;
        margin: 0;
        text-align: center;
        padding-left: 0px;
    }

        .db-pricing-seven ul li {
            border-bottom: solid 1px #D8D8D8;
            padding-top: 20px;
            padding-bottom: 20px;
            cursor: pointer;
            text-transform: uppercase;
        }

            .db-pricing-seven ul li.price {
                background-color: #fff;
                padding: 40px 20px 20px 20px;
                font-size: 20px;
                font-weight: 900;
                color: #353c3e;
                font-weight: 900;
            }

                .db-pricing-seven ul li.price i {
                    padding: 30px;
                    font-size: 50px;
                    display: block;
                }


    .db-pricing-seven .pricing-footer {
        padding: 20px;
    }

        .db-pricing-seven .pricing-footer a i {
            margin: 5px;
            top: 3px;
        }


/*halaman pelajaran*/

.box{
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
  border-top: 3px solid #0080D2;
  border-radius: 3px 3px 0px 0px;
}

.box-header{
  border-bottom: 1px solid #fafafa;
  font-size: 17px;
  padding: 5px;
  text-align: center;
}
.box-body{
  padding: 10px;
}


/*custom sidebar halaman pelajaran*/
.sidebar-nav li{
  border-bottom: 1px solid #262626;
}

.fixed-position{
  position: fixed !important;
}

#sidebar-wrapper-right{
z-index: 2000;
position: absolute;
width: 0px;
background: #121212 none repeat scroll 0% 0%;
transition: all 0.5s ease 0s;
height: 100%;
overflow-y: auto;
margin-left: -250px;
right: 0px;
/*left: 250px;
top: 0px;*/
}
#sidebar-wrapper-right:active{
  width: 250px !important;
}

.button-tahun{
margin-left: -50px;
border-radius: 5px 0px 0px 5px;
background: #775757 none repeat scroll 0% 0%;
width: 50px;
z-index: 1000px;
position: fixed;
padding: 5px;
text-align: center;
margin-top: 50px;
color: white;
}

