.tahunmatematikaIpa{
  display: none;
}

.tahunfisika{
  display: none;
}
.tahunkimia{
  display: none;
}
.tahunbiologi{
  display: none;
}
.tahuninggris{
  display: none;
}
.tahunindo{
  display: none;
}
.tahuntpa{
  display: none;
}
