#dinamikageraklurusbab2,
#dinamikageraklurusbab3,
#dinamikageraklurusbab4,
#dinamikageraklurusbab5,
#dinamikageraklurusbab6,
#dinamikageraklurusbab7,
#dinamikageraklurusbab8 {
  display: none;
}
#dinamikarotasibab2,
#dinamikarotasibab3,
#dinamikarotasibab4,
#dinamikarotasibab5,
#dinamikarotasibab6,
#dinamikarotasibab7,
#dinamikarotasibab8,
#dinamikarotasibab9,
#dinamikarotasibab10 {
  display: none;
}


#fisikamodernbab2,
#fisikamodernbab3,
#fisikamodernbab4,
#fisikamodernbab5,
#fisikamodernbab6,
#fisikamodernbab7,
#fisikamodernbab8,
#fisikamodernbab9,
#fisikamodernbab10,
#fisikamodernbab11,
#fisikamodernbab12,
#fisikamodernbab13,
#fisikamodernbab14,
#fisikamodernbab15,
#fisikamodernbab16,
#fisikamodernbab17,
#fisikamodernbab18,
#fisikamodernbab19,
#fisikamodernbab20 {
  display: none;
}

#fluidabab2,
#fluidabab3,
#fluidabab4,
#fluidabab5,
#fluidabab6 {
  display: none;
}



#getarangelombangbunyibab2,
#getarangelombangbunyibab3,
#getarangelombangbunyibab4,
#getarangelombangbunyibab5,
#getarangelombangbunyibab6,
#getarangelombangbunyibab7,
#getarangelombangbunyibab8,
#getarangelombangbunyibab9,
#getarangelombangbunyibab10,
#getarangelombangbunyibab11,
#getarangelombangbunyibab12,
#getarangelombangbunyibab13,
#getarangelombangbunyibab14,
#getarangelombangbunyibab15,
#getarangelombangbunyibab16,
#getarangelombangbunyibab17,
#getarangelombangbunyibab18 {
  display: none;
}


#induksimagnetikdanarusteganganbolakbalikbab2,
#induksimagnetikdanarusteganganbolakbalikbab3,
#induksimagnetikdanarusteganganbolakbalikbab4,
#induksimagnetikdanarusteganganbolakbalikbab5,
#induksimagnetikdanarusteganganbolakbalikbab6,
#induksimagnetikdanarusteganganbolakbalikbab7,
#induksimagnetikdanarusteganganbolakbalikbab8,
#induksimagnetikdanarusteganganbolakbalikbab9,
#induksimagnetikdanarusteganganbolakbalikbab10,
#induksimagnetikdanarusteganganbolakbalikbab11,
#induksimagnetikdanarusteganganbolakbalikbab12,
#induksimagnetikdanarusteganganbolakbalikbab13 {
  display: none;
}


#kinematikageraklurusbab2,
#kinematikageraklurusbab3,
#kinematikageraklurusbab4,
#kinematikageraklurusbab5,
#kinematikageraklurusbab6,
#kinematikageraklurusbab7,
#kinematikageraklurusbab8,
#kinematikageraklurusbab9 {
  display: none;
}


#listrikbab2,
#listrikbab3,
#listrikbab4,
#listrikbab5,
#listrikbab6,
#listrikbab7,
#listrikbab8,
#listrikbab9,
#listrikbab10,
#listrikbab11,
#listrikbab12,
#listrikbab13,
#listrikbab14,
#listrikbab15,
#listrikbab16,
#listrikbab17,
#listrikbab18,
#listrikbab19 {
  display: none;
}

#momentumdanimpulsbab2 {
  display: none;
}

#optikbab2,
#optikbab3,
#optikbab4,
#optikbab5,
#optikbab6,
#optikbab7,
#optikbab8,
#optikbab9,
#optikbab10,
#optikbab11,
#optikbab12,
#optikbab13,
#optikbab14,
#optikbab15,
#optikbab16,
#optikbab17,
#optikbab18,
#optikbab19 {
  display: none;
}

#suhudankalorbab2,
#suhudankalorbab3,
#suhudankalorbab4,
#suhudankalorbab5,
#suhudankalorbab6,
#suhudankalorbab7,
#suhudankalorbab8,
#suhudankalorbab9,
#suhudankalorbab10,
#suhudankalorbab11,
#suhudankalorbab12,
#suhudankalorbab13,
#suhudankalorbab14,
#suhudankalorbab15,
#suhudankalorbab16,
#suhudankalorbab17,
#suhudankalorbab18,
#suhudankalorbab19,
#suhudankalorbab20 {
  display: none;
}


#usahadanenergibab2,
#usahadanenergibab3,
#usahadanenergibab4,
#usahadanenergibab5,
#usahadanenergibab6,
#usahadanenergibab7,
#usahadanenergibab8,
#usahadanenergibab9 {
  display: none;
}
